doctype html
// Don't forget to add the theme name as a class of the root tag
html.theme-orange
    head
        title Zacaria Chtatar
        meta(name="viewport", content="width=device-width")
        meta(name="description", content="The Curriculum Vitae of Zacaria Chtatar.")
        meta(content="text/html; charset=UTF-8")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(type="text/css", rel="stylesheet", href="styles/css/main.css")
        script(src="scripts/live.js")
    body
        #cv
            .mainDetails
                .name
                    h1.name-title
                        =t('main-details.name-title')
                        br
                        | Full-stack JavaScript
                #contactDetails
                    ul
                        li
                            i.fa.fa-user.fa-fw
                            =t('main-details.name-detail')
                        li
                            a(href="mailto:zc@42.am", target="_blank")
                                i.fa.fa-envelope-o.fa-fw
                                | &nbsp;zc@42.am
                        li
                            a(href="https://github.com/Zacaria")
                                i.fa.fa-github.fa-fw
                                | &nbsp;Github
                        li
                            a(href="https://www.linkedin.com/pub/zacaria-chtatar/55/1b0/543", target="_blank")
                                i.fa.fa-linkedin-square.fa-fw
                                | &nbsp;LinkedIn
                .clear
            .mainArea
                section.section
                    .sectionTitle
                        h1=t('sections.section-1.title')
                    .sectionContent
                        article
                            h2=t('sections.section-1.article-1.title')
                            p.sectionSubDetails 2011 - 2016
                            p
                                =t('sections.section-1.article-1.description-1')
                                br
                                =t('sections.section-1.article-1.description-2')
                                //| Actuellement en 4ème année d'Ingénierie Logicielle
                                //br
                                //| Diplôme en préparation : Manager des Systèmes d'Information
                        article
                            h2=t('sections.section-1.article-2.title')
                            p.sectionSubDetails 2011
                            p=t('sections.section-1.article-2.description')
                    .clear
                section.section
                    article
                        .sectionTitle
                            h1=t('sections.section-2.title')
                        .sectionContent
                            article
                                h2=t('sections.section-2.article-1.title')
                                div
                                    span.sectionSubDetails
                                        =t('month.6') + ' 2014 - '
                                        =t('month.8') + ' 2015'
                                    ul.tags
                                        li.tag NodeJs
                                        li.tag Sass
                                        li.tag GruntJs
                                        li.tag BabylonJs
                                        li.tag Git
                                p
                                    =t('sections.section-2.article-1.description-1')
                                    a(href='http://doc.babylonjs.com' class="link") doc.babylonjs.com
                                    br
                                    =t('sections.section-2.article-1.description-2')
                                    br
                                    =t('sections.section-2.article-1.description-3')
                            article
                                h2=t('sections.section-2.article-2.title')
                                div
                                    span.sectionSubDetails
                                        =t('month.9') + ' 2014 - '
                                        =t('month.2') + ' 2015'
                                    ul.tags
                                        li.tag PHP
                                        li.tag JavaScript
                                        li.tag WebServices
                                        li.tag Azure
                                        li.tag
                                            =t('keywords.security')
                                p
                                    =t('sections.section-2.article-2.description-1')
                                    | doc.babylonjs.com
                                    br
                                    =t('sections.section-2.article-2.description-2')
                            article
                                h2=t('sections.section-2.article-3.title')
                                div
                                    span.sectionSubDetails
                                        =t('month.1') + ' - '
                                        =t('month.3') + ' 2014'
                                    ul.tags
                                        li.tag PHP
                                        li.tag JavaScript
                                        li.tag CSS3
                                        li.tag MySql
                                        li.tag=t('keywords.automation')
                                p
                                    =t('sections.section-2.article-3.description-1')
                                    br
                                    =t('sections.section-2.article-3.description-2')
                            article
                                h2=t('sections.section-2.article-4.title')
                                div
                                    span.sectionSubDetails
                                        =t('month.6') + ' - '
                                        =t('month.10') + ' 2013 '
                                    ul.tags
                                        li.tag PHP
                                        li.tag Magento
                                        li.tag MySql
                                        li.tag WebServices
                                        li.tag Linux
                                p
                                    =t('sections.section-2.article-4.description-1')
                                    br
                                    =t('sections.section-2.article-4.description-2')
                                    br
                                    =t('sections.section-2.article-4.description-3')
                                    br
                                    a(href="http://www.lange.fr/eshop" class="link") lange.fr/eshop
                                    br
                                    a(href="http://www.sartore.fr/eshop" class="link") sartore.fr/eshop
                            article
                                h2=t('sections.section-2.article-5.title')
                                div
                                    span.sectionSubDetails
                                        =t('month.9') + ' - '
                                        =t('month.12') + ' 2012 '
                                    ul.tags
                                        li.tag PHP
                                        li.tag MySql
                                        li.tag Merise
                                p
                                    =t('sections.section-2.article-5.description-1')
                                    br
                                    =t('sections.section-2.article-5.description-2')
                    .clear
                section.section
                    .sectionTitle
                        h1=t('sections.section-3.title')
                    .sectionContent
                        ul.keySkills
                            li.skill
                                span.skill-fw HTML5
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw CSS3
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw SASS
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw NodeJs
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw JQuery
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw PHP
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-half-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw AngularJs
                                i.fa.fa-star
                                i.fa.fa-star-half-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw BDD
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                            li.skill
                                span.skill-fw UML
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                    .clear
                section.section
                    .sectionTitle
                        h1=t('sections.section-4.title')
                    .sectionContent
                        p
                            =t('sections.section-4.description-1')
                            br
                            =t('sections.section-4.description-2')
                            br
                            =t('sections.section-4.description-3')
                            br
                            =t('sections.section-4.description-4')
                    .clear
        .tools
            .print
                i.fa.fa-1.fa-print
            .language
                a(href='/fr')
                    img.flag.flag-fr(src='images/FR.png')
            .language
                a(href='/en')
                    img.flag.flag-gb(src='images/GB.png')

    footer
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        };
                i[r].l = 1 * new Date();
                a = s.createElement(o);
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-66121797-1', 'auto');
            ga('send', 'pageview');

